img {
    width: 200px;
    height: 300px;
  }
  
  p {
    color: blue;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  iframe {
    height: 300px;
    aspect-ratio: 16 / 9;
  }
  
  body {
    background-color: rgb(244, 137, 137);
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgb(255, 118, 118);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: rgb(0, 61, 214);}

  .dropbtn {
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    padding: 16px;
    font-size: 16px;
    border: none;
    font-weight: bold;
  }